@page "/ChangePassword"
@using System.Text.Json;
@using Review_Film_Project.Models;
@model Review_Film_Project.Pages.ChangePasswordModel
@{
}
@{
	Layout = null;
}
@{

	var userSessionJson = HttpContext.Session.GetString("userSession");

}

<!DOCTYPE html>
<html>
<head>

	<title>Đổi mật khẩu</title>
	<link href="~/css/change-pass.css" rel="stylesheet" />
	<style>
		
		.validation-summary-errors ul {
			list-style-type: none;
			padding: 0; /* Loại bỏ padding */
			margin: 0; /* Loại bỏ margin */
		}
	</style>

</head>
<body>
	<section>
		<div class="form-box">
			<div class="form-value">
				<form asp-action="ChangePassword" method="post" class="needs-validation" novalidate>
					<h2>Change Password</h2>
					<div class="inputbox">
						<ion-icon name="mail-outline"></ion-icon>
						@{
							if (!string.IsNullOrEmpty(userSessionJson))
							{
								var user = JsonSerializer.Deserialize<User>(userSessionJson);
								var userName = user.Email; // Lấy tên người dùng từ đối tượng User
								<input type="text" class="form-control" id="username" autofocus="autofocus" value="@userName" readonly />
								<label>Email</label>
							}
						}
						
					</div>
				<span class="text-danger" ></span>

					<div class="inputbox">
						<ion-icon name="lock-closed-outline"></ion-icon>
						<input asp-for="OldPassword" type="password" class="form-control" id="password" required />
						<label>Password</label>
					</div>
				@*<span class="text-danger" asp-validation-for="Password"></span>*@
					<div class="inputbox">
						<ion-icon name="lock-closed-outline"></ion-icon>
						<input asp-for="NewPassword" type="password" class="form-control" id="new-password" required />
						<label>New Password</label>
					</div>
					<div class="inputbox">
						<ion-icon name="lock-closed-outline"></ion-icon>
						<input asp-for="ReNewPassword" type="password" class="form-control" id="re-new-password" required />
						<label>Re NewPassword</label>
					</div>
					<div style="color:white" asp-validation-summary="All"></div>
					<br>
					<div class="forgot">
						<a href="#">Forgot Password</a>

					</div>
					<button type="submit">Change</button>
					<div class="register">
						<p>Chưa có tài khoản ? <a href="/register">Đăng ký</a></p>
					</div>
				</form>
			</div>
		</div>

	</section>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>
